/* Hero principal */
.hero {
    position: relative;
    background: url('../img/Portada.png') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit; /* Hereda el fondo */
    filter: blur(10px); /* Aplica el desenfoque */
    z-index: -1; /* Asegura que el filtro esté detrás del contenido */
}


.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}

.hero p {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0.5rem 0 0;
}

/* Sección lanzamientos */
.launches {
    padding: 2rem;
    text-align: center;
}

.launches h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
}

/* Lista de lanzamientos */
.launch-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 1rem;
}

/* Estilo de la tarjeta de lanzamiento */
.launch-card {
    background: #222;
    padding: 1.5rem;
    margin: 1.5rem auto;
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    color: #fff;
    overflow: hidden;
    transition: all 0.25s;
}

.launch-card:hover {
    transform: scale(1.05);
    border-radius: 20px;
}

/* Sombra naranja para lanzamientos importantes */
.launch-card.importante {
    box-shadow: 0 0 10px 3px rgba(255, 165, 0, 0.5); /* Sombra naranja con difuminado */
    background: #333; /* Un fondo más oscuro para los lanzamientos importantes */
}

/* Detalles del lanzamiento */
.launch-card .launch-details {
    padding: 1rem 0;
    text-align: left;
}

.launch-card .launch-mission-name {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
    color: #C1272D; /* Rojo similar al de SpaceX */
}

.launch-card .launch-date-time {
    font-size: 1.1rem;
    margin-bottom: 0.6rem;
    color: #aaa; /* Gris para las fechas */
}

.launch-card .launch-vehicle {
    font-size: 1.1rem;
    margin-bottom: 0.6rem;
    color: #aaa; /* Gris para las fechas */
}

/* Imagen del vehículo */
.launch-card img {
    width: 100%;
    height: 200px; /* Ajusta la altura según lo que necesites */
    object-fit: cover; /* Asegura que la imagen se recorte y mantenga su proporción */
    border-radius: 10px;
    margin-top: 1rem;
    aspect-ratio: 16/9;
}

/* Estilo del botón "Ver más" */
.launch-card .btn-ver-mas {
    display: inline-block;
    background-color: #C1272D; /* Rojo SpaceX */
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.6rem 1.5rem;
    border-radius: 30px; /* Bordes redondeados */
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Efecto hover para el botón */
.launch-card .btn-ver-mas:hover {
    background-color: #a61e22; /* Rojo más oscuro para el hover */
    transform: scale(1.05); /* Le da un efecto de agrandado */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

/* Efecto de foco */
.launch-card .btn-ver-mas:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}


/* Sección del canal de YT */

/* Sección de últimos videos */
.latest-videos {
    padding: 3rem;
    background-color: black;
    text-align: center;
}

.latest-videos h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: white;
}

.videos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 2rem;
}

.video-card {
    background: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
}

.video-card iframe {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    aspect-ratio: 16/9;
}

.video-card .video-title {
    font-size: 1.2rem;
    margin-top: 0.8rem;
    color: white;
}
