---
import Video from "./VideoCard.astro";
---

<section id="latest-videos">
  <h2>Últimos Videos/Directos</h2>
  <div class="videos-container">
    <Video id="n8PIoMhjayc" title="Starship vuelo 7" />
    <Video id="20dGFUXr2bU" title="New Glenn" />
    <Video id="0NUNmnkM9Vw" title="Transporter-12" />
  </div>
</section>

<style type="scss">
  /* Sección del canal de YT */
  #latest-videos {
    padding: 3rem;
    text-align: center;

    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  .videos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 2rem;
  }
</style>
