<footer id="footer">
  <p>&copy; 2025 Lanzamientos Espaciales. Todos los derechos reservados.</p>
  <div class="social">
    <a href="https://x.com/LanzamientosE" target="_blank">X (Antes Twitter)</a>
    <a href="https://www.youtube.com/@lanzamientosE" target="_blank">YouTube</a>
    <a href="https://www.instagram.com/lanzamientose/" target="_blank"
      >Instagram</a
    >
  </div>
</footer>

<style type="scss">
  footer {
    text-align: center;
    padding: 1rem;
    .social a {
      text-decoration: none;
      margin: 0 0.5rem;
    }
  }
</style>
