---
import "../styles/global.scss";
import { Image } from "astro:assets";
import imgLogoHorizontalWhite from "../images/Logo horizontal white.png";
import logoColor from "../images/logo_color.svg";
---

<header class="main-header">
  <div class="container">
    <Image src={logoColor} class="logo" alt="Lanzamientos Espaciales" />

    <nav class="nav-menu">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/calendario">Calendario</a></li>
        <li><a href="/noticias">Noticias</a></li>
        <li><a href="/sobre-nosotros">Sobre Nosotros</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>

<style type="scss">
  header.main-header {
    background-color: var(--dark-blue);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px var(--dark-blue);
    .logo {
      height: 50px;
      max-width: fit-content;
      margin-right: 1rem;
    }
    .nav-menu {
      margin: 0;
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      ul {
        list-style: none;
        display: flex;
        gap: 1rem;
        margin: 0;
        padding: 0;
        li a {
          text-decoration: none;
          font-weight: bold;
          font-size: 1rem;
          padding: 0.5rem 1rem;
          transition: background-color 0.3s;
          border-radius: 5px;

          &:hover {
            background-color: var(--blue);
          }
        }
      }
    }
  }
</style>
