---
import { Image } from "astro:assets";
import imgPortada from "../images/deltaHeavy.webp";
---

<!-- Hero principal -->
<section class="hero">
  <Image src={imgPortada} alt="Lanzamiento de un cohete Delta Heavy" />
  <div class="overlay">
    <h1>Lanzamientos Espaciales</h1>
    <p>Descubre los próximos lanzamientos y noticias del espacio.</p>
  </div>
</section>

<style>
  /* Hero principal */
  .hero {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.9) saturate(1.2) blur(2px);
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 10;

      h1 {
        font-size: 3rem;
        font-weight: bold;
        margin: 0;
        z-index: 100;
      }

      p {
        font-size: 1.5rem;
        font-weight: 300;
        margin: 0.5rem 0 0;
        z-index: 100;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: inherit; /* Hereda el fondo */
      filter: blur(10px); /* Aplica el desenfoque */
      z-index: -1; /* Asegura que el filtro esté detrás del contenido */
    }
  }
</style>
