---
import "../styles/global.scss";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Lanzamientos Espaciales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
  </body>
</html>
